<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />

        <title>fx4or</title>
        <link rel="icon" href="/static/img/favicon.ico" />
        <meta name="description" content="Fast x-ray exposure within operating room">
        <meta name="author" content="Julien Bert">
        <meta http-equiv="Cache-Control" content="no-cache, no-store, must-revalidate" />
        <meta http-equiv="Pragma" content="no-cache" />
        <meta http-equiv="Expires" content="0" />

        <style>
            html, body {
                overflow: hidden;
                width: 100%;
                height: 100%;
                margin: 0;
                padding: 0;
            }

            #renderCanvas {
                width: 100%;
                height: 100%;
                touch-action: none;
            }
        </style>

        <!-- Babylon.js -->
        <script src="https://cdn.babylonjs.com/babylon.js"></script>
        <script src="https://cdn.babylonjs.com/loaders/babylonjs.loaders.min.js"></script>
        <script src="https://cdn.babylonjs.com/materialsLibrary/babylonjs.materials.min.js"></script>
        <script src="https://cdn.babylonjs.com/gui/babylon.gui.min.js"></script>
        <!-- <script src="https://cdn.babylonjs.com/loaders/babylonjs.loaders.js"></script> -->

    </head>
<body>
    <canvas id="renderCanvas"></canvas>
    <script>
        function deg2rad(degrees)
        {
            var pi = Math.PI;
            return degrees * (pi/180);
        }

        // address = /get/ct
        function sendJSONRequest(msg, address)
        {
            return new Promise(function(resolve, reject) {
                var fullAdr = window.origin + address;
            
                console.log(msg);
                console.log(fullAdr);

                fetch(fullAdr, {
                    method: 'POST',
                    headers: {
                        'Accept': 'application/json',
                        'Content-Type': 'application/json'
                    },
                    body: JSON.stringify(msg),
                })
                .then(res => res.json())
                .then((out) => {
                    console.log('in Req. function ', out);
                    resolve(out);
                })
                .catch(err => { 
                    // throw err;
                    reject(err);
                });
            });
            
            
        }

        const canvas = document.getElementById("renderCanvas");
        const engine = new BABYLON.Engine(canvas, true);

        // Add your code here matching the playground format
        const createScene = function () {
    
            const scene = new BABYLON.Scene(engine);
            scene.clearColor = BABYLON.Color3.White();  

            var light = new BABYLON.HemisphericLight("light", new BABYLON.Vector3(0, 1, 0), scene);

            var camera = new BABYLON.ArcRotateCamera("camera", 90*(Math.PI/180.0), 70*(Math.PI/180.0), 5, new BABYLON.Vector3(-0.7, 1, 0), scene);
            camera.upperBetaLimit = 90*(Math.PI/180.0);
            camera.lowerRadiusLimit = 2;
	        camera.upperRadiusLimit = 10;
            camera.attachControl(canvas, true);

            scene.fogMode = BABYLON.Scene.FOGMODE_LINEAR;
            // scene.fogDensity = 0.05;
            scene.fogStart = 5.0;
            scene.fogEnd = 50.0;
            scene.fogColor = new BABYLON.Color3(1.0, 1.0, 1.0);           

            let meshC;
            BABYLON.SceneLoader.ImportMesh(["Arm"], "static/models/", "cios.gltf", scene, function (meshes) {
                meshC = meshes[0];
                // Set rot to zero, especially quaternion rot (bigger priority than rotation function)
                meshC.rotation = new BABYLON.Vector3(0, 0, 0);
                // meshC.position = new BABYLON.Vector3(0, 0, 0);
                // meshC.rotation.y = deg2rad(180);
                // meshC.position = new BABYLON.Vector3(-0.6084136962890625, 0.9484025239944458, 0);
                meshC.setPivotPoint(new BABYLON.Vector3(-0.6084136962890625, 0.9484025239944458, 0));
                
                // console.info(meshBody); 
            });

            let meshJoint;
            BABYLON.SceneLoader.ImportMesh(["Joint"], "static/models/", "cios.gltf", scene, function (meshes) {
                meshJoint = meshes[0];
                // Set rot to zero, especially quaternion rot (bigger priority than rotation function)
                meshJoint.rotation = new BABYLON.Vector3(0, 0, 0);
                meshJoint.setPivotPoint(new BABYLON.Vector3(-0.6084136962890625, 0.9484025239944458, 0));
                meshJoint.addChild(meshC);
                // meshJoint.rotation.y = deg2rad(180);
                // console.info(meshC);  
               
            });

            let meshBody;
            BABYLON.SceneLoader.ImportMesh(["Body"], "static/models/", "cios.gltf", scene, function (meshes) {
                meshBody = meshes[0];   
                // Set rot to zero, especially quaternion rot (bigger priority than rotation function)
                meshBody.rotation = new BABYLON.Vector3(0, 0, 0);
                // meshBody.rotation.y = deg2rad(180);
                // meshBody.name = "Body";
                // console.info(meshBody);  
                     
            });

            let meshStand;
            BABYLON.SceneLoader.ImportMesh(["Stand"], "static/models/", "couch.gltf", scene, function (meshes) {
                meshStand = meshes[0];   
                // Set rot to zero, especially quaternion rot (bigger priority than rotation function)
                meshStand.rotation = new BABYLON.Vector3(0, 0, 0); 
                      
            });

     

            let meshCouch;
            BABYLON.SceneLoader.ImportMesh(["Couch"], "static/models/", "couch.gltf", scene, function (meshes) {
                meshCouch = meshes[0];   
                // Set rot to zero, especially quaternion rot (bigger priority than rotation function)
                meshCouch.rotation = new BABYLON.Vector3(0, 0, 0);     
                  
            });

            let meshGuy;
            BABYLON.SceneLoader.ImportMesh(["Body"], "static/models/", "couch.gltf", scene, function (meshes) {
                meshGuy = meshes[0];   
                // Set rot to zero, especially quaternion rot (bigger priority than rotation function)
                meshGuy.rotation = new BABYLON.Vector3(0, 0, 0);       
                
            });
           
             // // Second test to show scattering
             var ground = BABYLON.Mesh.CreateGround("ground1", 2, 2, 0, scene);
    
            // Create and tweak the background material.
            var backgroundMaterial = new BABYLON.BackgroundMaterial("backgroundMaterial", scene);
            backgroundMaterial.diffuseTexture = new BABYLON.Texture("static/img/test.png", scene);
          
            ground.material = backgroundMaterial;
            
            ground.position.y = 0.001;
            ground.position.x = -0.7;
            
             // Ground mat

             var matGridWhiteBlack = new BABYLON.GridMaterial("groundMaterial", scene);
             matGridWhiteBlack.majorUnitFrequency = 5;
             matGridWhiteBlack.mainColor = new BABYLON.Color3(1, 1, 1);
             matGridWhiteBlack.lineColor = new BABYLON.Color3(0, 0, 0);
             matGridWhiteBlack.specularColor = new BABYLON.Color3(0, 0, 0);

             // Ground
             var ground = BABYLON.MeshBuilder.CreateGround("ground", {width:100, height:100});
             ground.material = matGridWhiteBlack;


            //Test
            
           var mat = new BABYLON.StandardMaterial("materiau_1",scene);
           mat.diffuseTexture=new BABYLON.Texture("fx4or-mastersauvegarde/test.png",scene); 
           mat.diffuseTexture.hasAlpha = true;
         

            // GUI
            var advancedTexture = BABYLON.GUI.AdvancedDynamicTexture.CreateFullscreenUI("UI");

            var logoImage = new BABYLON.GUI.Image("logoImage", "static/img/LaTIM.png");
            logoImage.horizontalAlignment = BABYLON.GUI.Control.HORIZONTAL_ALIGNMENT_LEFT;
            logoImage.verticalAlignment = BABYLON.GUI.Control.VERTICAL_ALIGNMENT_TOP;
            logoImage.widthInPixels = 100;
            logoImage.heightInPixels = 100 * (809/1004); // image ratio
            logoImage.leftInPixels = 20;
            logoImage.topInPixels = 20;
            advancedTexture.addControl(logoImage);

            var panel = new BABYLON.GUI.StackPanel();
            panel.width = "220px";
            panel.horizontalAlignment = BABYLON.GUI.Control.HORIZONTAL_ALIGNMENT_RIGHT;
            panel.verticalAlignment = BABYLON.GUI.Control.VERTICAL_ALIGNMENT_CENTER;
            advancedTexture.addControl(panel);
            
            
            
            //colorbar
            
            
            var advancedTexture = BABYLON.GUI.AdvancedDynamicTexture.CreateFullscreenUI("UI");

            var logoImage = new BABYLON.GUI.Image("logoImage", "static/img/testt.png");
            logoImage.horizontalAlignment = BABYLON.GUI.Control.HORIZONTAL_ALIGNMENT_LEFT;
            logoImage.verticalAlignment = BABYLON.GUI.Control.VERTICAL_ALIGNMENT_TOP;
            logoImage.widthInPixels = 100;
            logoImage.heightInPixels = 350 // image ratio
            logoImage.leftInPixels = 300;
            logoImage.topInPixels = 400;
            advancedTexture.addControl(logoImage);

            var panel = new BABYLON.GUI.StackPanel();
            panel.width = "420px";
            panel.horizontalAlignment = BABYLON.GUI.Control.HORIZONTAL_ALIGNMENT_RIGHT;
            panel.verticalAlignment = BABYLON.GUI.Control.VERTICAL_ALIGNMENT_CENTER;
            advancedTexture.addControl(panel);
            
            
            

            var hCAUCRA = new BABYLON.GUI.TextBlock();
            hCAUCRA.text = "CAU-CRA: 0 deg";
            hCAUCRA.height = "30px";
            hCAUCRA.color = "black";
            panel.addControl(hCAUCRA); 

            var sliderCAUCRA = new BABYLON.GUI.Slider();
            sliderCAUCRA.minimum = BABYLON.Tools.ToRadians(-90);
            sliderCAUCRA.maximum = BABYLON.Tools.ToRadians(90);
            sliderCAUCRA.value = 0;
            sliderCAUCRA.height = "20px";
            sliderCAUCRA.width = "200px";
            sliderCAUCRA.color = "black";
            sliderCAUCRA.borderColor = "white";
            sliderCAUCRA.background = "#777777";
            sliderCAUCRA.onValueChangedObservable.add(function(value) {
                hCAUCRA.text = "CAU-CRA: " + (BABYLON.Tools.ToDegrees(value) | 0) + " deg";
                if (meshJoint) {
                    meshJoint.rotation.x = value;
                }
            });
            panel.addControl(sliderCAUCRA);
            
            var hLAORAO = new BABYLON.GUI.TextBlock();
            hLAORAO.text = "LAO-RAO: 0 deg";
            hLAORAO.height = "30px";
            hLAORAO.color = "black";
            panel.addControl(hLAORAO); 

            var sliderLAORAO = new BABYLON.GUI.Slider();
            sliderLAORAO.minimum = BABYLON.Tools.ToRadians(140);
            sliderLAORAO.maximum = BABYLON.Tools.ToRadians(220);
            sliderLAORAO.value = BABYLON.Tools.ToRadians(180);
            sliderLAORAO.height = "20px";
            sliderLAORAO.width = "200px";
            sliderLAORAO.color = "black";
            sliderLAORAO.borderColor = "white";
            sliderLAORAO.background = "#777777";
            sliderLAORAO.onValueChangedObservable.add(function(value) {
                hLAORAO.text = "LAO-RAO: " + (BABYLON.Tools.ToDegrees(value)-180 | 0) + " deg";
                if (meshC) {
                    meshC.rotation.z = value;
                }
            });
            panel.addControl(sliderLAORAO);
            
            
            var htransl = new BABYLON.GUI.TextBlock();
            htransl.text = "TRANSLATION X: 0 cm";
            htransl.height = "30px";
            htransl.color = "black";
            panel.addControl(htransl); 
            
            
            var slidertransl = new BABYLON.GUI.Slider();
            slidertransl.minimum = BABYLON.Tools.ToRadians(-10);
            slidertransl.maximum = BABYLON.Tools.ToRadians(10);
            slidertransl.value = 0;
            slidertransl.height = "20px";
            slidertransl.width = "200px";
            slidertransl.color = "black";
            slidertransl.borderColor = "white";
            slidertransl.background = "#777777";
            slidertransl.onValueChangedObservable.add(function(value) {
                htransl.text = "TRANSLATION X: " + (BABYLON.Tools.ToDegrees(value) | 0) + " cm";
                if (meshCouch) {
                    meshCouch.position.z = value;
                    meshGuy.position.z = value;
                }
            });
            panel.addControl(slidertransl);

        
            var htransll = new BABYLON.GUI.TextBlock();
            htransll.text = "TRANSLATION Y: 0 cm";
            htransll.height = "30px";
            htransll.color = "black";
            panel.addControl(htransll); 
            
            
            var slidertransll = new BABYLON.GUI.Slider();
            slidertransll.minimum = BABYLON.Tools.ToRadians(-10);
            slidertransll.maximum = BABYLON.Tools.ToRadians(10);
            slidertransll.value = 0;
            slidertransll.height = "20px";
            slidertransll.width = "200px";
            slidertransll.color = "black";
            slidertransll.borderColor = "white";
            slidertransll.background = "#777777";
            slidertransll.onValueChangedObservable.add(function(value) {
                htransll.text = "TRANSLATION Y: " + (BABYLON.Tools.ToDegrees(value) | 0) + " cm";
                if (meshCouch) {
                    meshCouch.position.y = value;
                    meshGuy.position.y = value;
                    meshStand.position.y = value;
                }
            });
            panel.addControl(slidertransll);

            var htranslll = new BABYLON.GUI.TextBlock();
            htranslll.text = "TRANSLATION Z: 0 cm";
            htranslll.height = "30px";
            htranslll.color = "black";
            panel.addControl(htranslll); 
            
            
            var slidertranslll = new BABYLON.GUI.Slider();
            slidertranslll.minimum = BABYLON.Tools.ToRadians(-10);
            slidertranslll.maximum = BABYLON.Tools.ToRadians(10);
            slidertranslll.value = 0;
            slidertranslll.height = "20px";
            slidertranslll.width = "200px";
            slidertranslll.color = "black";
            slidertranslll.borderColor = "white";
            slidertranslll.background = "#777777";
            slidertranslll.onValueChangedObservable.add(function(value) {
                htranslll.text = "TRANSLATION Z: " + (BABYLON.Tools.ToDegrees(value) | 0) + " cm";
                if (meshCouch) {
                    meshCouch.position.x = value;
                    meshGuy.position.x = value;
                }
            });
            panel.addControl(slidertranslll);

            
            
            
            var htranssl = new BABYLON.GUI.TextBlock();
            htranssl.text = "TENSION DU TUBE: 0 V";
            htranssl.height = "30px";
            htranssl.color = "black";
            panel.addControl(htranssl); 
            
            
            var slidertranssl = new BABYLON.GUI.Slider();
            slidertranssl.minimum = BABYLON.Tools.ToRadians(70);
            slidertranssl.maximum = BABYLON.Tools.ToRadians(120);
            slidertranssl.value = 0;
            slidertranssl.height = "20px";
            slidertranssl.width = "200px";
            slidertranssl.color = "black";
            slidertranssl.borderColor = "white";
            slidertranssl.background = "#777777";
            slidertranssl.onValueChangedObservable.add(function(value) {
                htranssl.text = "TENSION DU TUBE: " + (BABYLON.Tools.ToDegrees(value) | 0) + " V";
                if (meshCouch) {
                    
                }
            });
            panel.addControl(slidertranssl);
            
            
            
            
            
            
            
            


            var butReset = BABYLON.GUI.Button.CreateSimpleButton("butInit", "Reset");
            butReset.width = "150px"
            butReset.height = "40px";
            butReset.color = "black";
            butReset.cornerRadius = 20;
            butReset.background = "white";
            butReset.onPointerUpObservable.add(function() {
                sliderCAUCRA.value = 0;
                if (meshJoint) {
                    meshJoint.rotation.x = 0;
                }
                
                slidertransl.value = 0;
                if (meshCouch) {
                    meshCouch.rotation.z = 0;
                }
                
                slidertransll.value = 0;
                if (meshCouch) {
                    meshCouch.rotation.y = 0;
                }
                
                slidertranslll.value = 0;
                if (meshCouch) {
                    meshCouch.rotation.x = 0;
                }

                   slidertranssl.value = 0;
                   if (meshCouch) {
                       meshCouch.rotation.z = 0;
                   }

                
                sliderLAORAO.value = BABYLON.Tools.ToRadians(180);
                if (meshC) {
                    meshC.rotation.z = BABYLON.Tools.ToRadians(180);
                } 
                
                scene.onBeforeRenderObservable.add((thisScene1, state) => {
                   
                    
                    var ground = BABYLON.Mesh.CreateGround("ground1", 2, 2, 0, scene);

                    var backgroundMaterial = new BABYLON.BackgroundMaterial("backgroundMaterial", scene);
                    backgroundMaterial.diffuseTexture = new BABYLON.Texture("static/img/test2.png", scene);

                    ground.material = backgroundMaterial;
                    ground.position.y = 0.001;
                    ground.position.x = -0.7;
                    
                    
                });
                
            window.location.reload(false)
            });
            panel.addControl(butReset);



            
            let x = new BABYLON.GUI.TextBlock('TextBlock', '5'); 

            var rect1 = new BABYLON.GUI.Rectangle();
            rect1.width = 0.03;
            rect1.horizontalAlignment = 0;
            rect1.verticalAlignment = 2;
            rect1.height = "40px";
            rect1.cornerRadius = 10;
            rect1.color = "black";
            rect1.thickness = 4;
            rect1.background = "grey";
            advancedTexture.addControl(rect1);
            rect1.addControl(x);
            
            var count = 5;

            

            var butGet = BABYLON.GUI.Button.CreateSimpleButton("butGet", "Get");
            butGet.width = "150px"
            butGet.height = "40px";
            butGet.color = "black";
            butGet.cornerRadius = 20;
            butGet.background = "yellow";
            
            
            
            
         
            
            butGet.onPointerUpObservable.add(function() {
                
                scene.onBeforeRenderObservable.add((thisScene, state) => {
                    if (!thisScene.deltaTime) return;
                    count -= (thisScene.deltaTime / 1000);
                    if (count <= 0) {
                        count = 0;
                        var ground1 = BABYLON.Mesh.CreateGround("ground1", 2, 2, 0, scene);

                        var backgroundMaterial = new BABYLON.BackgroundMaterial("backgroundMaterial", scene);
                        backgroundMaterial.diffuseTexture = new BABYLON.Texture("static/img/test1.png", scene);

                        ground1.material = backgroundMaterial;
                        ground1.position.y = 0.001;
                        ground1.position.x = -0.7;
                        
                    }
                    x.text = String(Math.round(count));
                    
                });
                count = 5
                
                
                var msg = {
                
                    "LAORAO": BABYLON.Tools.ToDegrees(sliderLAORAO.value),
                    "CAUCRA": BABYLON.Tools.ToDegrees(sliderCAUCRA.value),
                    "TRANSLATION X": BABYLON.Tools.ToDegrees(slidertransl.value),
                    "TRANSLATION Y": BABYLON.Tools.ToDegrees(slidertransll.value),
                    "TRANSLATION Z": BABYLON.Tools.ToDegrees(slidertranslll.value),
                    "TENSION DU TUBE": BABYLON.Tools.ToDegrees(slidertranssl.value),
                    
                };
                
                
                
                var address = "/get-fake-mip-scattering";
               
                let promise = sendJSONRequest(msg, address);
                promise.then(
                    response => {
                        console.log('This is the response: ', response);

                        fluenceMapMatGrd.diffuseTexture = new BABYLON.RawTexture2DArray(response["data"], 
                                                                                        response["sizex"], 
                                                                                        response["sizey"], 
                                                                                        3, BABYLON.Engine.TEXTUREFORMAT_RGB,
                                                                                        scene,
                                                                                        false,
                                                                                        false,
                                                                                        BABYLON.Texture.NEAREST_SAMPLINGMODE);
                        // fluenceMapMatGrd.diffuseTexture = new BABYLON.Texture("/data/test_mip_y.png");
                        // fluenceMapMatGrd.diffuseTexture.hasAlpha = true;

                    },
                    err => alert(err)
                );
                
            });
            panel.addControl(butGet);

            return scene;
        };

        const scene = createScene(); //Call the createScene function

        engine.runRenderLoop(function() {
            scene.render();
        });
        
        // Resize
        window.addEventListener("resize", function () {
            engine.resize();
        });
    </script>
</body>
</html>